\<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
      background-image: url('../assets/images/front-view-woman-holding-paper-heart-with-heartbeat.jpg');
      height: 300px;
      width: auto;
      background-repeat: no-repeat;
      background-size: cover;
    "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
      margin-top: -100px;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(30px);
    ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Donor Registration Form</h2>
            <h4 class="fw-bold mb-5">Health information</h4>

            
      <form (ngSubmit)="onSubmit(donorregistration2)" #donorregistration2="ngForm">
            
            <!--Blood group-->
              <div class="row">
                <div class="col-md-6 mb-4">
                 <div class="form-outline">
                  <label class="form-label" for="bloodGroup">Blood group</label>
                      <select id="bloodGroup" class="form-select" name="Bloodgroup" ngModel required>
                        <option value="" disabled selected >Select blood group</option>
                        <option value="A+" >A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                     </select>
               
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                <label class="form-label" for="height" >Height (in cm)</label>
                <input type="text" id="height" class="form-control" name="height" ngModel required #height="ngModel"/>
                <div>
                  <small *ngIf="height.invalid && height.touched">Height is required</small>
                </div>
                
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                <label class="form-label" for="weight">Weight (in kg)</label>
                <input type="text" id="weight" class="form-control"  name="Weight" ngModel required #weight="ngModel"/>
                <div>
                  <small *ngIf="weight.invalid && weight.touched">Weight is required</small>
                </div>
                
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                <label class="form-label" for="BMI" >BMI</label>
                <input type="text" id="bmi" class="form-control"  name="BMI" ngModel required #BMI="ngModel"/>
                <div>
                  <small *ngIf="BMI.invalid && BMI.touched">BMI is required. <a href="https://www.calculator.net/bmi-calculator.html">Click here to calculate your BMI value.</a></small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-outline">
              <label class="form-label" for="specialConditions" >Do you have any Special health condtion. Add here</label>
              <textarea id="specialConditions" class="form-control" rows="4" name="Healthconditions" ngModel ></textarea>
              
            </div>
          </div><br><br>
   

              <!-- Submit button -->
              
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <!-- Previous button -->
                    <button class="btn btn-primary" routerLink="../donor-registration">Previous</button>
                  </div>
                  <div class="col-md-4 text-center">
                    <!-- Display current page number -->
                  
                  </div>
                  <div class="col-md-4 text-right">

                    <!-- Next button -->
                    <input type="Submit" value="Submit" class="btn btn-danger" style="width: 250px;" [disabled]="!donorregistration2.valid">
                    
                  </div>
                </div>
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
