<app-donorprofile-header></app-donorprofile-header>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Contact</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Home</a></li>
          <li class="breadcrumb-item">Contact</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
                <img src="assets/images/contact1.png" width="95%">
            </div>
          </div>

        </div>
      </div>
    </section>
    <section class="section">
        <div class="row">
          <div class="col-lg-12">
  
            <div class="card">
              <div class="card-body">
                  <img src="assets/images/contact2.png" width="95%">
              </div>
            </div>
  
          </div>
        </div>
      </section>
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
  
            <div class="card">
              <div class="card-body">
                  <img src="assets/images/contact3.png" width="95%">
              </div>
            </div>
  
          </div>
        </div>
      </section>
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
  
            <div class="card">
              <div class="card-body">
                  <img src="assets/images/contact4.png" width="95%">
              </div>
            </div>
  
          </div>
        </div>
      </section><br><br>


  </main><!-- End #main -->





  

