<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
  <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
    <div class="align-items-center d-none d-md-flex">
      <i class="bi bi-clock"></i> Donate-BLOOD Save LIVES
    </div>
    <div class="d-flex align-items-center">
      <i class="bi bi-phone"></i> Call us now +1 5589 55488 55
    </div>
  </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <a class="logo me-auto"><img src="assets/images/96411-heart-beat.gif"></a>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <h1 class="logo me-auto"><a href="index.html">Medicio</a></h1> -->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li ><a class="nav-link scrollto " href="#" >Home</a></li>
        <li><a class="nav-link scrollto" routerLink="/blood-availability" >Blood-stock-levels</a></li>
        <li><a class="nav-link scrollto" routerLink="/google-map">Upcomming campaigns</a></li>
 
        <li class="dropdown"><a ><span>About</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#whocandonate">Who can donate</a></li>
            <li><a href="#whatyouexpect">What to Expect at Your Donation</a></li>
       
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#services">Services</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a routerLink="/login" class="appointment-btn scrollto"><span class="d-none d-md-inline">LOGIN</span> </a>
    <a routerLink="/Signup" class="appointment-btn scrollto"><span class="d-none d-md-inline">SIGNUP</span> </a>
  </div>