<app-bloodbankprofile-header></app-bloodbankprofile-header>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>update-Donations.</h1>
      
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              
              <form  #addnewdonation="ngForm">

                <!-- username input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3">Donor registration number</label>
                  <input type="text" id="form3Example3" class="form-control"/>
    
                </div>

                <!-- username input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3">Confirm NIC number</label>
                  <input type="text" id="form3Example3" class="form-control"/>
    
                </div>
              
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1">Location</label>
                      <input type="text" id="form3Example1" class="form-control" />
         
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example2">Date</label>
                      <input type="date" id="form3Example2" class="form-control"/>
                    </div>
                  </div>
                </div>

  
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4">HB level</label>
                  <input type="text" id="form3Example4" class="form-control" />
                  
                </div>
  
             
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4">Blood pressure</label>
                  <input type="text" id="form3Example4" class="form-control" />
                  
                </div>
                <br>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4">Special notice</label>
                  <input type="text" id="form3Example4" class="form-control" />
                  
                </div>
                <br>

                <input type="submit" value="submit" class="btn btn-primary btn-block mb-4" style="width: 25%;">

              </form>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->