<app-organizerprofile-header></app-organizerprofile-header>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Blood Banks in Sri Lanka</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Home</a></li>
          <li class="breadcrumb-item">Blood Banks</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
                <img src="assets/images/annual-report-2021-06.png" width="95%">
            </div>
          </div>

        </div>
      </div>
    </section>
   


  </main><!-- End #main -->





  

