<div class="container">
    <div class="rectangle">
      <div class="row">
        <div class="col-md-12 mb-4">
          <img src="assets/images/qr sample.png" alt="QR Sample">
          <br>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="form-outline">
            <h5 class="h5">Name:</h5>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="form-outline">
            <p class="p1">Rajani_Navoda</p>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="form-outline">
            <h5 class="h5">Donor_ID:</h5>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="form-outline">
            <p class="p1">AP_1234_123456</p>
          </div>
        </div>
        
      </div>
     
    </div>
    
  </div>
  <a routerLink="../donor-header">
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-outline-secondary" style="width: 50%;">Go to dashboard</button>
    </div>
  </a>
  <br><br><br><br><br><br>
  
  