<app-donorprofile-header></app-donorprofile-header>
<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12"> <!-- Full-width container for the entire section -->
        
        <!-- Left Component -->
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Donor card</h5>
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="assets/images/download.png" alt="QR Sample" class="card-img">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{ firstName }} {{ lastName }}</h5>
                        <p class="card-text">Carry your donor card proudly and save lives with every drop of blood.</p>
                        <p class="card-text"><small class="text-muted">Blood Group: <span>{{ bloodGroup }}</span></small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br><br>

        <!-- Right Component -->
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Donor card</h5>
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="assets/images/QR_Codes/{{ path }}" alt="QR Sample" class="card-img">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">QR - code</h5>
                        <p class="card-text">Scan here</p>
                        <p class="card-text"><small class="text-muted">Reg.No: <span>{{ registrationNumber}}</span></small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</main>
