<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
    background-image: url('../assets/images/front-view-woman-holding-paper-heart-with-heartbeat.jpg');
    height: 300px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
  "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
    margin-top: -100px;
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(30px);
  ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Campaign-Request form</h2>
         
          
          <form  (ngSubmit)="campaignRegistration(requestCampaignForm)" #requestCampaignForm="ngForm">
           
            <div class="row">
                <div class="mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="bloodBank"
                      >Blood Bank</label
                    >
                    <select
                      name="bloodBank"
                      id="bloodBank"
                      class="form-control"
                      ngModel
                      required
                      #bloodBank="ngModel"
                    >
                      <option value="">Select the Nearest Blood Bank</option>
                      <option *ngFor="let bank of bloodBanks" [ngValue]="bank">
                        {{ bank["user"]["firstName"] }}
                      </option>
                    </select>
  
                    <div>
                      <small *ngIf="bloodBank.invalid && bloodBank.touched"
                        >Enter the Blood Bank</small
                      >
                    </div>
                  </div>
                </div>
            </div>    

            <!-- Full name -->
            <!-- <div class="form-outline"><br><br>
              <label class="form-label" for="fullName">Organizer Name</label>
              <input type="text" id="organizerName" class="form-control" name="organizerName" ngModel required #organizerName="ngModel"/>
              <div>
                <small *ngIf="organizerName.invalid && organizerName.touched">Organizer name is required</small>
              </div>
              
            </div> -->

            <!-- <div class="form-outline"><br><br>
              <label class="form-label" for="organizerID">Organizer ID</label>
              <input type="text" id="organizerID" class="form-control" name="organizerID" ngModel required #organizerID="ngModel"/>
              
              <div>
                <small *ngIf="organizerID.invalid && organizerID.touched">organizer ID is required</small>
              </div>    

            </div>
            <br> -->

            <!-- <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-label" for="city">Contact no: </label>
                  <input type="tel" id="city" class="form-control" name="Contact1" ngModel required #contact="ngModel"/>
                  <div>
                    <small *ngIf="contact.invalid && contact.touched">contact number is required</small>

                  </div>
                </div>
              </div>
            </div> -->

            <!-- <div class="form-outline mb-4">
              <label class="form-label" for="email">Email address</label>
              <input type="email" id="email" class="form-control" name="email" ngModel required email #email="ngModel"/>
              <div>
                <small *ngIf="email.invalid && email.touched">email is required or invalid email.</small>
              </div>
            </div> -->

   
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-label" for="nicNumber">Date</label>
                  <input type="date" id="Odate" class="form-control" name="date" ngModel required #date="ngModel" />
                  <div>
                    <small *ngIf="date.invalid && date.touched">Enter the date you want to organize</small>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mb-4">
                <div class="form-outline">
                    <label class="form-label" for="location">Location(Venue)</label>
                    <input type="text" id="location" class="form-control" name="location" ngModel required #location="ngModel"  />
                    <div>
                      <small *ngIf="location.invalid && location.touched">campain location/(Venue) is required.</small>
                    </div>
                </div>
              </div>
              
            </div>

            <div class="row"> 
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-label" for="startTime">Start Time</label>
                  <input type="time" id="startTime" class="form-control" name="startTime" ngModel required #startTime="ngModel" />
                  <div>
                    <small *ngIf="startTime.invalid && startTime.touched">Enter the desired time to start the campaign.</small>
                  </div>
                </div>
              </div>


              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-label" for="endTime">End Time</label>
                  <input type="time" id="endTime" class="form-control" name="endTime" ngModel required #endTime="ngModel" />
                 
                  <div>
                    <small *ngIf="endTime.invalid && endTime.touched">Enter the end time of the campaign.</small>
                  </div>
                </div>
              </div>
             
            </div>

            <!-- <div class="form-outline mb-4">
              <label class="form-label" for="email">Location URL</label>
              <input type="text" id="locationURL" class="form-control" name="locationURL" ngModel required #locationURL="ngModel"  />
              <div>
                <small *ngIf="locationURL.invalid && locationURL.touched">campaign location is required. <a href=""></a><a href="https://www.google.com/maps" target="_blank" style="color: blue;">Click here to get the location URL.</a><br></small>
              </div>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="organizedby">Organization</label>
              <input type="text" id="organizedby" class="form-control" name="organizedby" ngModel required #organizedby="ngModel"  />
             
              <div>
                <small *ngIf="organizedby.invalid && organizedby.touched">Did you organize the campaign as an individual or a organization? If you are a oganization enter the organization name.</small>
              </div>

            </div> -->

            <div class="form-outline mb-4">
              <label class="form-label" for="purpose">Purpose</label>
              <input type="textarea" class="form-control"  name="purpose" ngModel required #purpose="ngModel" >
              <div>
                <small *ngIf="purpose.invalid && purpose.touched">What is your purpose of organizing this campaign.</small>
              </div> 
            </div>


            <!-- Submit button -->
            
            <div class="container">
              <div class="row">
                
                <div class="col-md-4 text-center">
                  <!-- Display current page number -->
                
                </div>
                <div class="col-md-4 text-right">
                  <br>
                  <!-- Next button -->
                  <input type="submit" class="btn btn-danger"  style="width: 250px;"  value="Submit"  [disabled]="!requestCampaignForm.valid">
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->