<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
    background-image: url('../assets/images/front-view-woman-holding-paper-heart-with-heartbeat.jpg');
    height: 300px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
  "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
    margin-top: -100px;
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(30px);
  ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Campaign-Request form</h2>
         
          
          <form>
           
            <div class="section-title">
              
              <div class="input-group" style="width: 75%;" >
                <input type="search" class="form-control rounded" placeholder="Nearest Bloodbank" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary">Choose blood bank</button> 
              </div>
              
            </div>

           

            <!-- Full name -->
            <div class="form-outline"><br><br>
              <input type="text" id="fullName" class="form-control" />
              <label class="form-label" for="fullName">Full name (According to the NIC)</label>
            </div><br>

            <!-- NIC and date of birth -->
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" id="nicNumber" class="form-control" />
                  <label class="form-label" for="nicNumber">NIC number</label>
                </div>
              </div>
              
            </div>

            <div class="row">
              
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="tel" id="city" class="form-control" />
                  <label class="form-label" for="city">Contact no: Mobile 1</label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="tel" id="zip" class="form-control" />
                  <label class="form-label" for="zip">Contact no: Mobile 2</label>
                </div>
              </div>
             
            </div>

            <div class="form-outline mb-4">
              <input type="email" id="email" class="form-control" />
              <label class="form-label" for="email">Email address</label>
            </div>


         

            <!-- Submit button -->
            
            <div class="container">
              <div class="row">
                
                <div class="col-md-4 text-center">
                  <!-- Display current page number -->
                
                </div>
                <div class="col-md-4 text-right">
                  <!-- Next button -->
                  <button class="btn btn-primary"  style="width: 250px;" routerLink="../shedule-campaign2" >Next</button>
                </div>
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->