<app-donorprofile-header></app-donorprofile-header>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

            <!-- blood group-->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card" >

                <div class="card-body">
                  <h5 class="card-title">Blood Group<span> </span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <!-- Insert the background image here -->
                      <img src="assets/images/blood-156063_1280.png" alt="Blood Group" class="rounded-circle" style="width: 100%; height: 100%;">
                    </div>
                    <div class="ps-3">
                      <h6>A+</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!--blood group-->

             <!--Total donations-->
             <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card" >

                <div class="card-body">
                  <h5 class="card-title">Total donations<span> </span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <!-- Insert the background image here -->
                      <img src="assets/images/34337-heart-beat.gif" alt="Blood Group" class="rounded-circle" style="width: 100%; height: 100%;">
                    </div>
                 
                   
                    <div class="ps-3">
                      <h6>5</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!--Total donations-->


          <!-- latest doantion date -->
          <div class="col-xxl-4 col-xl-12">

            <div class="card info-card customers-card">

            

              <div class="card-body">
                <h5 class="card-title">Latest Donation</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-calendar-date"></i>
                  </div>
                  <div class="ps-3">
                    <h5 style="font-size: 15px;">23rd February 2023</h5>

                  </div>
                </div>

              </div>
            </div>

          </div><!-- End latest donation date -->
          
         <!-- Right side columns -->
         <div class=".col-md-3 .ml-md-auto4">
       
        <!-- Recent Activity -->
        <div class="card">    

          <div class="card-body">
            <h5 class="card-title"> your appointments <span>| this month</span></h5>

            <div class="activity">

              <div class="activity-item d-flex">
                <div class="activite-label">Date</div>
                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                <div class="activity-content">
                   <a href="#" class="fw-bold text-dark">12th february 2023</a>
                </div>
              </div><!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">Location</div>
                <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                <div class="activity-content">
                  District General hospital Gampaha
                </div>
              </div><!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">app.No:</div>
                <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                <div class="activity-content">
                  22
                </div>
              </div><!-- End activity item-->

              
            </div>

          </div>
          </div><!-- End Recent Activity -->

          

         </div>
       </div>
      </div>
