<app-bloodbankprofile-header></app-bloodbankprofile-header>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Campaign requests forms</h1>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <div *ngIf="campaignDetails">
              <section class="section" *ngFor="let campaignDetail of campaignDetails">
                <div class="row">
                  <div class="col-lg-12">

                    <div class="card">
                      <div class="card-body">

                        <h5 class="card-title">Blood Donation Campaign</h5><br>

                        <p><strong>Location address:</strong>{{ campaignDetail.location_address }}</p>
                        <p><strong>Date:</strong>{{ campaignDetail.date }}</p>
                        <p><strong>Time:</strong> {{ campaignDetail.start_time }} - {{ campaignDetail.end_time }}</p>
                        <p><strong>Email:</strong> {{ campaignDetail.email }}</p>
                        <p><strong>Contact Number:</strong>{{ campaignDetail.contact_num }}</p>
                        <p><strong>Organizer Name:</strong> {{ campaignDetail.organizer_name }}</p>
                        <p><strong>Location URL:</strong> {{ campaignDetail.location_URL }}</p>
                        <p><strong>Purpose:</strong> {{ campaignDetail.purpose }}</p>

                        <button type="button" class="btn btn-success">Accept the request.</button>
                      </div>
                    </div>

                  </div>
                </div>
                <br>
              </section>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->
