<app-admin-dashboard></app-admin-dashboard>

<body>
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Blood Banks</h1>
    </div>
    <!-- End Page Title -->

    <section class="section p-5">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Blood-bank name</th>
                    <th>Zip-code</th>
                    <th>District</th>
                    <th>Email-address</th>
                    <th>Address</th>
                    <th>conatct number</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>LifeBlood Bank</td>
                    <td>BB12345</td>
                    <td>12345</td>
                    <td>Exampleville</td>
                    <td>info@lifebloodbank.com</td>
                    <td>123 Main Street</td>
                    <td>(123) 456-7890</td>
                    <td>
                      <button type="button" class="btn btn-danger">
                        <i class="bi bi-trash"></i> Delete
                      </button>

                      <button type="button" class="btn btn-primary">
                        <i class="bi bi-pencil"></i> Edit
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
