.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  
  
  @media (min-width: 992px) {
    .rounded-tr-lg-0 {
      border-top-right-radius: 0;
    }
  
    .rounded-bl-lg-5 {
      border-bottom-left-radius: 0.5rem;
    }
  }
  
  .image-half-frame {
    width: 50%;
  }
  
  
  .arrow-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .arrow-button img {
    width: 50px;
    height: 50px;
  }
  
  
  