<app-admin-dashboard></app-admin-dashboard>

<main id="main" class="main">

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
  
          <div class="card">
            <div class="card-body">
  
  
              <section class="section dashboard">
                <div class="row">
  
                  <!-- Left side columns -->
                  <div class="col-lg-8 offset-lg-2"> <!-- Adjusted column class with offset -->
                    <div class="row">
  
                      <!-- Sales Card -->
                      <div class="col-xxl-6 col-md-6"> <!-- Increased column width -->
                        <br>
                        <div class="card info-card sales-card">
  
  
                          <div class="card-body">
                           
                            <h5 class="card-title" style="font-size: 30px; font-weight: 700;">Welcome to the admin panel!<span></span></h5>
                            <br>
                            <div style="display: flex; justify-content: center; align-items: center; height: 100px;">
                                <img src="assets/images/admin.jpg" width="500px" height="100px"><br><br>
                              </div>
                          </div>
  
                        </div>
                      </div><!-- End Sales Card -->
  
                    </div>
                  </div>
                </div>
              </section>
  
            </div>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->
  