<app-bloodbankprofile-header></app-bloodbankprofile-header>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>View Donors</h1>
      
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Donor ID</th>
                    <th>Full Name</th>
                    <th>NIC</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>conatct-mobile</th>
                    <th>Blood group</th>
                    <th>Special conditions</th>
                  </tr>
                </thead>
                
                <tbody>
                  <tr *ngFor="let Donor of Donors ">
                   
                    <td>{{ Donor.Donor_ID }}</td>
                    <td>{{ Donor.fullName }}</td>
                    <td>{{ Donor.NIC }}</td>
                    <td>{{ Donor.DOB }}</td>
                    <td>{{ Donor.gender }}</td>
                    <td>{{ Donor.address }}</td>
                    <td>{{ Donor.email }}</td>
                    <td>{{ Donor.contactMobile }}</td>
                    <td>{{ Donor.bloodGroup }}</td>
                    <td>{{ Donor.specialConditions }}</td>
                  
                  </tr>
                </tbody>

              </table>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->





  
