<app-donorprofile-header></app-donorprofile-header>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Donation History</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Home</a></li>
          <li class="breadcrumb-item">Donation history</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
            <p ><i class="bi bi-calendar-date" style='font-size:30px;color:red'></i><b>&ensp;Donation date: </b><span style="font-size: 13px;">wednesday 13th June 2023</span></p>
            <p><i class="bi bi-geo-alt-fill" style="font-size: 30px; color: red;"></i><b>&ensp;Location: </b><span style="font-size: 13px;">Sri Sambodhi Viharaya</span></p>
            <p>Hemoglobin level: <span style="font-size: 13px; text-align: left;">12 g/L</span></p>
            <p>Blood Preassure: <span style="font-size: 13px; text-align: left;" >120/80 mmHg</span></p>
            <p>Special notice:</p>
            </div>
          </div>

        </div>
      </div>
    </section><br><br>
    

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
            <p ><i class="bi bi-calendar-date" style='font-size:30px;color:red'></i><b>&ensp;Donation date: </b><span style="font-size: 13px;">wednesday 13th June 2023</span></p>
            <p><i class="bi bi-geo-alt-fill" style="font-size: 30px; color: red;"></i><b>&ensp;Location: </b><span style="font-size: 13px;">Sri Sambodhi Viharaya</span></p>
            <p><i class="bi bi-geo-alt-fill" style="font-size: 30px; color: red;"></i><b>&ensp;Location: </b><span style="font-size: 13px;">Sri Sambodhi Viharaya</span></p>
            <p>Hemoglobin level: <span style="font-size: 13px; text-align: left;">12 g/L</span></p>
            <p>Blood Preassure: <span style="font-size: 13px; text-align: left;" >120/80 mmHg</span></p>
           <p>Special notice:</p>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->





  
