<app-donorprofile-header></app-donorprofile-header>


<main id="main" class="main">

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
  
          <div class="card">
            <div class="card-body">
              <section id="whocandonate" class="about">
                <div class="container" data-aos="fade-up">
  
                  <div class="row">
                    <div class="col-lg-6" data-aos="fade-right">
                      <img src="assets/images/heart-5079717_1280.png" width="300" height="300">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" style="text-align: center;">
                      <br><br>
                      <p style="font-size: 20px;">Have you got, or have you had, any heart conditions?</p> <br><br>
  
                      <div style="display: flex; justify-content: space-between;">
                        <button type="button" class="btn btn-danger" style="width: 200px;" onclick="location.href='../cantdonate'">Yes</button>
                        <button type="button" class="btn btn-danger" style="width: 200px;" onclick="location.href='../pregnency'">No</button>
                      </div>
                      
                    </div>
                  </div>
  
                </div>
              </section><!-- End About Us Section -->
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <!-- Previous button -->
                    <button class="btn btn-secondary" onclick="history.back()">Back</button>
                  </div>
                  <div class="col-md-4 text-center">
                    <!-- Display current page number -->
                  
                  </div>
                  <div class="col-md-4 text-right">
                    <!-- Next button -->
                    <button class="btn btn-light"  style="width: 250px;" routerLink="../checkeligibility" >Start again</button>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
    </section>

   
  
  </main><!-- End #main -->
  
  