<app-navbar></app-navbar>
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image:url(assets/images/top-view-person-holding-broken-heart-put-back-together-with-scotch-tape.jpg)">
        <div class="container">
          <h2>DONATE-BLOOD <span>SAVE LIVES</span></h2>
          <p>You Deserve To Be Appreciated And Loved If You Are A Blood Donor. You Are An Unsung Hero Of The Nation </p>
          <a  class="btn-get-started scrollto">BECOME A MEMBER</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item " style="background-image:url(assets/images/blood-732298_1280.jpg)">
        <div class="container">
          <h2>Track your life saving journey</h2>
          <p>Track your life-saving journey with us. View your blood donation history and witness the impact of your generosity.</p>
          <a class="btn-get-started scrollto">BECOME A MEMBER</a>
        </div>
      
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item" style="background-image: url(assets/images/pexels-brett-jordan-5444631.jpg)">
        <div class="container">
          <h2>Discover blood donation campaigns</h2>
          <p>Discover blood donation campaigns in your area with ease. Join the cause and save lives today.</p>
          <a class="btn-get-started scrollto">Upcoming donation campaigns</a>
        </div>
      </div>

    </div>

    <!-- <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a> -->

  </div>
</section><!-- End Hero -->
<br><br><br>

<section id="featured-services" class="featured-services">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-12 col-md-4 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="fas fa-heartbeat"></i></div>
          <h4 class="title"><a>About Blood</a></h4>
          <p class="description">The ABO blood group system was discovered by Karl Landsteiner in 1900. 46 years later (1946) the Blood Transfusion Service was formed. In 1996 the National Blood Service was formed to collect and provide blood supplies for all the hospitals in Sri Lanka.</p>
        </div>
      </div>

      <div class="col-12 col-md-4 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="fas fa-pills"></i></div>
          <h4 class="title"><a>Components of Blood</a></h4>
          <p class="description">When we receive your donation, we separate it into individual components by spinning it in a machine called a centrifuge. The individual components are red cells, white cells, platelets, and plasma. These can all be put to different uses.</p>
        </div>
      </div>

      <div class="col-12 col-md-4 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="fas fa-thermometer"></i></div>
          <h4 class="title"><a >How does the Body Replace Blood</a></h4>
          <p class="description">During a whole blood donation, we aim to take just under a pint (about 470mls) of blood, which works out at no more than 13 percent of your blood volume. After donation, your body has an amazing capacity to replace all the cells and fluids that have been lost.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Featured Services Section -->

<br><br><br>

 <!-- ======= Cta Section ======= -->
 <section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">

    <div class="text-center">
      <h3>SAVING LIVES TOGETHER, ONE DROP AT A TIME.</h3>
      <p>Welcome to our blood donation website, where heroes unite to save lives. Every day, countless individuals face critical medical situations and rely on the generosity of others to survive. Through the simple act of donating blood, you have the power to make a profound impact. Join our compassionate community and become a lifesaver. </p>
      <a class="cta-btn scrollto" style="text-decoration: none;" >DONATE BLOOD TODAY</a>
    </div>

  </div>
</section><!-- End Cta Section -->
<br><br><br> <!-- ======= About Us Section ======= -->
 <section id="whocandonate" class="about" >
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Who can donate blood?</h2><br>
      <p >The person must fulfill several criteria to be accepted as a blood donor. These criteria are set forth to ensure the safety of the donor as well as the quality of donated blood.</p>
      <br>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-right">
        <img src="assets/images/blood-732298_1280.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Donor Selection Criteria</h3><br>
        <p class="fst-italic">
       
        </p>
        <ul>
         
          <li><i class="bi bi-check-circle" style="color: brown;"></i> Age above 18 years and below 60 years.</li>
          <li><i class="bi bi-check-circle" style="color: brown;"></i> If previously donated, at least 4 months should be elapsed since the date of previous donation.</li>
          <li><i class="bi bi-check-circle" style="color: brown;"></i> Hemoglobin level should be more than 12g/dL. (this blood test is done prior to each blood donation)</li>
          <li><i class="bi bi-check-circle" style="color: brown;"></i>Free from any serious disease condition or pregnancy.</li>
          <li><i class="bi bi-check-circle" style="color: brown;"></i> Should have a valid identity card or any other document to prove the identity.</li>
          <li><i class="bi bi-check-circle" style="color: brown;"></i>Free from "Risk Behaviours".
  
          </li>
        </ul>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->

 <!-- ======= Features Section ======= -->
 <section id="whatyouexpect" class="features">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
        <br><br><br>
        
        <div class="section-title">
          <h2>What to Expect at Your Donation</h2><br>
          <p >The person must fulfill several criteria to be accepted as a blood donor. These criteria are set forth to ensure the safety of the donor as well as the quality of donated blood.</p>
          <br>
        </div>

        <div class="icon-box mt-5 mt-lg-0">
          <i class="fas fa-laptop-medical"></i>
          <h4>Registration</h4>
          <p> You will sign in, show an ID, and be asked to read some required information.</p>
        </div>
        <div class="icon-box mt-5">
          <i class="fas fa-plus-square"></i>
          <h4>Health History and Mini-Physical </h4>
          <p>Answer some questions online or in a private interview, and receive a general health check.  The results of your mini-physical will be available in your online blood donor account.</p>
        </div>
        <div class="icon-box mt-5">
          <i class="fas fa-wheelchair"></i>
          <h4>The Donation </h4>
          <p>You'll be seated comfortably while a pint of blood is drawn. The actual donation only takes 8-10 minutes.</p>
        </div>
        <div class="icon-box mt-5">
          <i class="fas fa-bacon"></i>
          <h4>Refreshment and Recovery</h4>
          <p>After donating, you can enjoy a snack and a drink for 10-15 minutes before resuming your day. The entire donation process takes about an hour.</p>
        </div>
        <div class="icon-box mt-5">
          <i class="fas fa-vials"></i>
          <h4>Testing </h4>
          <p>Your blood is tested and sent to a patient in need.</p>
        </div>
      </div> 
      <br><br>
      <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/images/blood-donation-3087392_1280.jpg");' data-aos="zoom-in"></div>
    </div>
  </div>
</section><!-- End Features Section -->

<br><br><br>

<!-- ======= Services Section ======= -->
<section id="services" class="services services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Services</h2>
    </div>

    <div class="row" >
      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">

        <div class="icon" ><i class="bi-card-heading"  style="color: brown;"></i></div>
        <h4 class="title"><a > Donor registration</a></h4>
        <p class="description">Register as donor and view your donor profile. </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon"><i class="bi bi-geo" style="color: brown;"></i></div>
        <h4 class="title"><a >View Upcoming  donation campaigns</a></h4>
        <p class="description">Discover blood donation campaigns in your area with ease. Join the cause and save lives today.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon"><i class="fas fa-hospital-user" style="color: brown;"></i></div>
        <h4 class="title"><a >Make appointments</a></h4>
        <p class="description">Confirm your pledge and help save lives. Your participation matters and is crucial in helping blood campaign organizers make a difference</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon"><i class="bi-droplet-half" style="color: brown;"></i></div>
        <h4 class="title"><a>view blood stock levels</a></h4>
        <p class="description"> You can view the blood stock levels in eack blood bank. </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon"><i class="bi-emoji-sunglasses" style="color: brown;"></i></div>
        <h4 class="title"><a >Track your donation history</a></h4>
        <p class="description">Track your life-saving journey with us. View your blood donation history and witness the impact of your generosity.</p>
      </div>
     
    </div>

  </div>
</section><!-- End Services Section -->



<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Donate-Blood</h3>
            <p>   Colombo 00500
              555<br>
              Elvitigala Mawatha,<br>
              Colombo 5
              <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> NBTS@gmail.com<br>
            </p>
            
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a >Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a >Who can donate</a></li>
            <li><i class="bx bx-chevron-right"></i> <a >Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a >Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a >Donor login</a></li>
            <li><i class="bx bx-chevron-right"></i> <a >Organize a campaign</a></li>
            <li><i class="bx bx-chevron-right"></i> <a >Donation history</a></li>
            <li><i class="bx bx-chevron-right"></i> <a >upcomming donation campaigns</a></li>
            <li><i class="bx bx-chevron-right"></i> <a >blood stock levels</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Subscribe our offcial website</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>

        </div>

      </div>
    </div>
  </div>
</footer><!-- End Footer -->



