<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
      background-image: url('../assets/images/front-view-woman-holding-paper-heart-with-heartbeat.jpg');
      height: 300px;
      width: auto;
      background-repeat: no-repeat;
      background-size: cover;
    "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
      margin-top: -100px;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(30px);
    ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Campaign-Details</h2>
           
            
            <form>
             
              <!-- NIC and date of birth -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="date" id="nicNumber" class="form-control" />
                    <label class="form-label" for="nicNumber">Date</label>
                  </div>
                </div>
                
              </div>
  
              <div class="row">
                
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="time" id="city" class="form-control" />
                    <label class="form-label" for="city">Time (Start)</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="time" id="zip" class="form-control" />
                    <label class="form-label" for="zip">Time (end)</label>
                  </div>
                </div>
               
              </div>
  
              <div class="form-outline mb-4">
                <input type="email" id="email" class="form-control" />
                <label class="form-label" for="email">Campaign Location</label>
              </div>

              <div class="form-outline mb-4">
                <input type="text" id="email" class="form-control" />
                <label class="form-label" for="email">Organization</label>
              </div>

              <div class="form-outline mb-4">
                <textarea class="form-control"></textarea>
                
                <label class="form-label" for="email">Purpuse</label>
              </div>
  
  
  
           
  
              <!-- Submit button -->
              
              <div class="container">
                <div class="row">
                  
                  <div class="col-md-4 text-center">
                    <!-- Display current page number -->
                  
                  </div>
                  <div class="col-md-4 text-right">
                    <!-- Next button -->
                    <button class="btn btn-primary"  style="width: 250px;" routerLink="../organizer-home" >Submit</button>
                  </div>
                </div>
              </div>
  
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->