<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
      background-image: url('../assets/images/front-view-woman-holding-paper-heart-with-heartbeat.jpg');
      height: 300px;
      width: auto;
      background-repeat: no-repeat;
      background-size: cover;
    "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
      margin-top: -100px;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(30px);
    ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Campaign-Details</h2>
           
            
            <form (ngSubmit)="onSubmit(Requestcampaign2)" #Requestcampaign2="ngForm">
             
              <!-- NIC and date of birth -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="nicNumber">Date</label>
                    <input type="date" id="Odate" class="form-control" name="date" ngModel required #date="ngModel" />
                    <div>
                      <small *ngIf="date.invalid && date.touched">Enter the date you want to organize</small>
                    </div>
                  </div>
                </div>
                
              </div>
  
              <div class="row">
                
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="city">Time (Start)</label>
                    <input type="time" id="starttime" class="form-control" name="Starttime" ngModel required #starttime="ngModel" />
                    <div>
                      <small *ngIf="starttime.invalid && starttime.touched">Enter the desired time to start the campaign.</small>
                    </div>
                  </div>
                </div>


                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="zip">Time (end)</label>
                    <input type="time" id="endtime" class="form-control" name="endtime" ngModel required #endtime="ngModel" />
                   
                    <div>
                      <small *ngIf="endtime.invalid && endtime.touched">Enter the end time of the campaign.</small>
                    </div>
                  </div>
                </div>
               
              </div>
  
              <div class="form-outline mb-4">
                <label class="form-label" for="email">Campaign Location</label>
                <input type="text" id="location" class="form-control" name="location" ngModel required #location="ngModel"  />
                <div>
                  <small *ngIf="location.invalid && location.touched">campain location is required.</small>
                </div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="organizedby">Organization</label>
                <input type="text" id="organizedby" class="form-control" name="organizedby" ngModel required #organizedby="ngModel"  />
               
                <div>
                  <small *ngIf="organizedby.invalid && organizedby.touched">Did you organize the campaign as an individual or a organization? If you are a oganization enter the organization name.</small>
                </div>

              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="purpose">Purpose</label>
                <input type="textarea" class="form-control"  name="purpose" ngModel required #purpose="ngModel"   >
                <div>
                  <small *ngIf="purpose.invalid && purpose.touched">What is your purpose of organizing this campaign.</small>
                </div>
                
              </div>
  
  
  
           
  
              <!-- Submit button -->
              
              <div class="container">
                <div class="row">
                  
                  <div class="col-md-4 text-center">
                    <!-- Display current page number -->
                  
                  </div>
                  <div class="col-md-4 text-right">
                    <!-- Next button -->
                    <input class="btn btn-primary" type="submit" style="width: 250px;" value="Submit"  [disabled]="!Requestcampaign2.valid">
                  </div>
                </div>
              </div>
  
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->