<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
      background-image: url('../assets/images/vecteezy_human-blood-donate-and-heart-rate-on-white-background_8191708.jpg');
      height: 400px;
      width: auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    "></div>
   
    <!-- Background image -->
   
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
      margin-top: -100px;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(30px);
    ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Campaign-Organizer Registration Form</h2>
 
            <form>
              
  
              <div class="section-title">
              
                <div class="input-group" style="width: 75%;" >
                 
                  <input type="search" class="form-control rounded" placeholder="Nearest Bloodbank" aria-label="Search" aria-describedby="search-addon" name="nearestbloodbank" ngModel required   #nearestbloodbank="ngModel"/>
                  <button type="button" class="btn btn-outline-primary">Choose blood bank</button> 

                </div>
                
              </div>
              <br><br>

               <!-- Name -->
              
               <div class="form-outline">
                <label class="form-label" for="or-name">Organization/ your name</label>
                <input type="text" id="Or-name" class="form-control" name="or-name" ngModel required #or_name="ngModel"/>
                <div>
                  <small *ngIf="or_name.invalid &&or_name.touched">Enter your name / your organization name.</small>
                </div>
              </div><br>

  
              <!-- Address -->
              
              <div class="form-outline">
                <label class="form-label" for="fullName">Address</label>
                <input type="text" id="Address" class="form-control" name="address" ngModel required #address="ngModel"/>
                <div>
                  <small *ngIf="address.invalid &&address.touched">Enter your/Organization address.</small>
                </div>
              </div><br>


              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="email">Email address</label>
                <input type="email" id="email" class="form-control" name="email" ngModel/>  
              </div><br>


              <!-- contact number-->
              <div class="row">
                
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="city">Contact no: Mobile</label>
                    <input type="tel" id="contactmobile" class="form-control" name="conatctMobile" ngModel required #contactmobile="ngModel"/>
                    <div>
                      <small *ngIf="contactmobile.invalid && contactmobile.touched">contact number is required.</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="zip">Contact no: Home</label>
                    <input type="tel" id="zip" class="form-control" name="contactHome" ngModel /> 
                  </div>
                </div>
               
              </div><br>


              <!-- Submit button -->
              
              <div class="container">
                <div class="row">
                  
                  <div class="col-md-4 text-center">
                    
                  
                  </div>
                  <div class="col-md-4 text-right">
                    <!-- Next button -->
                    <input type="submit" value="Submit" class="btn btn-danger"  style="width: 250px;">
                  
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->