
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DonorPrfile</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 
</head>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center">
        <img src="assets/images/ekg-2069872_1280.png" alt="Logo">
        <span class="d-none d-lg-block" style="color: brown;">Donate-Blood</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
  
    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <span class="d-none d-lg-block" style="color: brown; font-weight: 750; font-size: 25px;">Donor-Dashboard</span>
  
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle" href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->
  
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number"></span>
          </a><!-- End Notification Icon -->
        </li><!-- End Notification Nav -->
  
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number"></span>
          </a><!-- End Messages Icon -->
        </li><!-- End Messages Nav -->
  
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/images/WhatsApp Image 2023-05-21 at 7.35.27 AM.jpeg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Rajani Navoda</span>
            
          </a>
          <div class="dropdown-content" >
            <a href="#">
              <i class="bi bi-person"></i>
              My Profile
            </a>
            <a href="#" class="account-settings" style="font-size: 14px;">
              <i class="bi bi-gear"></i>
              Account Settings
            </a>
            <a href="#">
              <i class="bi bi-box-arrow-right"></i>
              Sign Out
            </a>
          </div>

        </li><!-- End Profile Nav -->
      </ul>
    </nav><!-- End Icons Navigation -->
  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " >
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="../donorprofile-home" >
          <i class="bi bi-menu-button-wide"></i><span>Home</span>
        </a>

        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="../donorcard">
            <i class="bi bi-list"></i><span>Donor Card</span>
        </a>

        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="../google-map">
            <i class="bi bi-geo-alt"></i><span>Donation Campaigns</span>
        </a>
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="../donation-history">
            <i class="bi bi-book"></i><span>Donation History</span>
        </a>
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="../checkeligibility">
            <i class="bi bi-book"></i><span>Check your eligibility</span>
        </a>

      </li>


      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="../donorprofilesettings" >
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="../FAQ" >
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="../contact">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->



      <li class="nav-item" routerLink="../donorprofilesettings">
        <a class="nav-link collapsed">
          <i class="bi bi-gear"></i>
          <span>Account Settings</span>
        </a>
      </li><!-- end pf the account settings -->

      <li class="nav-item">
        <a class="nav-link collapsed"  routerLink="../login">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login as a Organizer</span>
        </a>
      </li><!-- End Login as a organizer Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="../home">
          <i class="bi bi-box-arrow-right"></i>
          <span>Log Out</span>
        </a>
      </li><!-- End logout Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->


  

     




 