<section class="vh-100 bg-image"
  style="background-image: url('../assets/images/front-view-woman-holding-paper-heart-with-heartbeat.jpg');">
  
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Make an appointment</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Donor registration number</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example1cg">Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example1cg">Blood Group</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example1cg">Age</label>
                </div>
                <!-- Gender -->
              <div class="col-md-6">
                <label class="form-label">Gender :  </label>
                <div class="form-check form-check-inline mb-4">
                  <input class="form-check-input" type="radio" name="gender" id="maleRadio" value="male">
                  <label class="form-check-label" for="maleRadio">Male</label>
                </div>
  
                <div class="form-check form-check-inline mb-4">
                  <input class="form-check-input" type="radio" name="gender" id="femaleRadio" value="female">
                  <label class="form-check-label" for="femaleRadio">Female</label>
                </div>
  
                <div class="form-check form-check-inline mb-4">
                  <input class="form-check-input" type="radio" name="gender" id="unknownRadio" value="unknown">
                  <label class="form-check-label" for="unknownRadio">Unknown</label>
                </div>
              </div>
              <div class="form-outline mb-4">
                <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                <label class="form-label" for="form3Example1cg">Contact no:</label>
            </div>

                

           

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-primary" routerLink="../donorprofile-home">Register</button>
                </div>

                
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
