<app-donorprofile-header></app-donorprofile-header>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

</head>


  <main id="main" class="main">


    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <section id="whocandonate" class="about" >
                <div class="container" data-aos="fade-up">
              
                 
                  
                  <div class="row">
                    <div style="display: flex; justify-content: center; align-items: center; height: 100px;">
                        <img src="assets/images/warning-sign-30915_1280.png" width="100px" height="100px">
                      </div>
                      
                    <div >
                        <br><br>
                      <p style="font-size: 18px;">Sorry! You are unable to donate blood.</p>
                      <p style="font-size: 18px;">we need to have more information to know if you can give blood. To give you an answer we will need to speak to you.</p>

                      
                      <div style="display: flex; justify-content: center;">
                      <a routerLink="../checkeligibility"><button type="button" class="btn btn-danger" style="width: 200px;">Finish</button></a>  
                      </div>
                    </div>
                  </div>
              
                </div>
              </section><!-- End About Us Section -->
              
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
