.contact {
    background-color: #f8f8f8ef;
    padding: 80px 0;
  }
  
  .contact .section-title {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .contact .section-title h2 {
    color: #320606;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .contact .row {
    display: flex;
    justify-content: center;
  }
  
  .contact .info {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .contact .info i {
    font-size: 24px;
    color: #480b0b;
    margin-bottom: 15px;
  }
  
  .contact .info h4 {
    font-size: 18px;
    color: #760909;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .contact .info p {
    color: #520707;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  
  .contact .text-center {
    margin-top: 20px;
  }
  



/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}



@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}



@media (min-width: 1200px) {

  #main,
  #footer {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}



