<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>
  
    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Add a blood bank</h2>
              <form>
               \
  
                <!-- name -->
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3">Blood bank name</label>
                </div>

                <!-- name -->
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3">Registration number</label>
                </div>

                <!-- 2 column grid layout with text inputs for the district and the zip code -->
                <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                       
                        <input
                          type="text"
                          formControlName="firstName"
                          id="form3Example1"
                          class="form-control"
                          required
                        />
                        <label class="form-label" for="form3Example1">District</label >
                        
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        
                        <input
                          type="text"
                          formControlName="lastName"
                          id="form3Example2"
                          class="form-control"
                          required
                        />
                        <label class="form-label" for="form3Example2"
                          >Zip code</label
                        >
                       
                      </div>
                    </div>
                  </div>
    
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control" />
                    <label class="form-label" for="form3Example3">Choose the location</label>
                  </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" class="form-control" />
                  <label class="form-label" for="form3Example4">Password</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="form3Example4" class="form-control" />
                    <label class="form-label" for="form3Example4">comfirm Password</label>
                </div>
  
  
                <!-- Submit button -->
                <button type="submit" class="btn btn-danger btn-block mb-4">
                  Create
                </button>
  
                <!-- Register buttons -->
                
              </form>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">
            <img
              src="../assets/images/pexels-charliehelen-robinson-4531304.jpg"
              class="w-100 rounded-4 shadow-4"
              alt=""
            />
          </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->